<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit customer</title>
    <th:block th:replace="layout/head :: head"/>
</head>

<body>
<div class="container">
    <header>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand">Edit customer</a>
                <div class="d-flex" style="gap: 10px;">
                    <a href="/customers">
                        <button class="btn btn-outline-light" type="button">
                            <i class="fas fa-list-ul"></i>
                            Customers list
                        </button>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <div class="content">
        <form  th:object="${customerEdit}" th:action="@{/customers/edit}" method="post">
            <div class="row mb-3 mt-3">
                <div class="col-lg-6">
                    <label for="fullName" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="fullName" th:field="*{fullName}">
                </div>
                <div class="col-lg-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-6">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="tel" class="form-control" id="phone" th:field="*{phone}">
                </div>
                <div class="col-lg-6">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" th:field="*{address}">
                </div>
                <div hidden>
                    <input type="number" class="form-control" id="id" th:field="*{id}">
                    <input type="number" class="form-control" id="balance" th:field="*{balance}">
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-lg-3">
                    <button type="submit" class="btn btn-outline-success">
                        <i class="far fa-edit"></i>
                        Edit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<th:block th:if="${success == true}">
    <footer class="container-fluid success">
        <div class="container">
            <div class="notification">
                <p class="success" th:text="${message}"></p>
            </div>
        </div>
    </footer>
</th:block>

<th:block th:if="${success == false}">
    <footer class="container-fluid error">
        <div class="container">
            <div class="notification">
                <p class="error" th:text="${message}"></p>
            </div>
        </div>
    </footer>
</th:block>
</body>
</html>