<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of customers</title>
    <th:block th:replace="layout/head :: head" />
</head>
<body>
<div class="container">
    <header>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand">List of customers</a>
                <div class="d-flex" style="gap: 10px;">
                    <a href="/customers/transfer_history">
                        <button class="btn btn-outline-light" type="button">
                            <i class="fas fa-history"></i>
                            Transfer histories
                        </button>
                    </a>
                    <a href="/customers/create">
                        <button class="btn btn-outline-light" type="button">
                            <i class="far fa-plus-square"></i>
                            Add new customer
                        </button>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <div class="content">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>FullName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Balance</th>
                <th colspan="5">Action</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="item : ${customers}">
                <tr>
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.fullName}"></td>
                    <td th:text="${item.email}"></td>
                    <td th:text="${item.phone}"></td>
                    <td th:text="${item.address}"></td>
                    <td th:text="${item.balance}"></td>
                    <td>
                        <a th:href="@{'/customers/edit/' + ${__item.id__}}">
                            <button class="btn btn-outline-secondary">
                                <i class="far fa-edit"></i>
                            </button>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/customers/deposit/' + ${__item.id__}}">
                            <button class="btn btn-outline-success">
                                <i class="fas fa-plus"></i>
                            </button>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/customers/withdraw/'+ ${__item.id__}}">
                            <button class="btn btn-outline-warning">
                                <i class="fas fa-minus"></i>
                            </button>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/customers/transfer/' + ${__item.id__}}">
                            <button class="btn btn-outline-primary">
                                <i class="fas fa-exchange-alt"></i>
                            </button>
                        </a>

                    </td>
                    <td>
                        <a th:href="@{'/customers/delete/' + ${__item.id__}}">
                            <button class="btn btn-outline-danger">
                                <i class="fas fa-ban"></i>
                            </button>
                        </a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

<th:block th:if="${success == true}">
    <footer class="container-fluid success">
        <div class="container">
            <div class="notification">
                <p class="success" th:text="${message}"></p>
            </div>
        </div>
    </footer>
</th:block>

<th:block th:if="${success == false}">
    <footer class="container-fluid error">
        <div class="container">
            <div class="notification">
                <p class="error" th:text="${message}"></p>
            </div>
        </div>
    </footer>
</th:block>
</body>
</html>